@import "tailwindcss";

@theme {
  --color-blue-primary: #0051AF;
  --color-gray-primary: #EAECF0;

  --color-blue-secondary: #045FC8;
  --color-gray-secondary: #F9FAFB;

  --color-blue-gray-800: #1D2939;
  --color-blue-gray-600: #475467;
  --color-blue-gray-300: #D0D5DD;

  --font-sans: var(--font-plus-jakarta-sans);
}

body {
  @apply font-sans
}